#bloque2{
margin: 3% 0 0 0;
}
.botones-sociales{
margin: 5% 0 0 25%;
width: 250px;
}
#redes-sociales{
margin-top: 10%;
}
#noticias{
margin: 5% 2% 0px 2%;
}
#carrusel{
width: 64.5%;
}
span #lab{
text-align: center;
}
.sombreado{
width: 136px;
}
#headingOne{
background-color: #00A298;
}